* {
    font-family: Arial;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
}

#contactContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 50px;
}

#contactForm {
    width: 50%;
}

#picture {
    display: block;
    width: 40%;
    height: 635px;
    object-fit: cover;
}

#contact {
    font-weight: bold;
    margin-bottom: 30px;
}

#contacttext {
    font-style: italic;
    color: gray;
    margin-bottom: 20px;
}

#contactformula {
    font-weight: bold;
}

#emailContainer {
    padding-top: 20px;
}

.formularField {
    padding-top: 20px;
}

#messageField {
    margin-top: 20px;
}