.Logo{
    width: 150px;
    top: 150px;
}

label{
    color:white
}

.SearchBar input[type="text"]
{
    float:right;
    padding: 20px;
    font-size: 15px;
    bordeR:none;


}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:darkblue;
  width: 100%;
  height: 100%;
  display: flex;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: Arial;
}

ul li a:hover {
  background-color: black;
}