.Logo {
  width: 150px;
  top: 150px;
}

label {
  color: white
}

.SearchBar input[type="text"] {
  float: right;
  padding: 20px;
  font-size: 15px;
  border: none;
  width: 250px;
}

.image-container {
  width: 56px;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: 5px;
}

.image-container img {
  width: 32px;
  height: 32px;
  object-fit: contain;
}

ul {
  list-style-type: none;
  margin: -8px;
  padding: 0;
  background-color: darkblue;
  display: flex;
  border: 1px solid #e7e7e7;

}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 25px;
  font-family: Arial;
}

ul li a:hover {
  background-color: black;
}