html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: black;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}



/*
    Header
*/

.navbar {
    background: rgb(17, 21, 29);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.logo {
    height: 70px;
    width: auto;
}



.navbarHeader .nav-link,
.navbarHeader .nav-link:link,
.navbarHeader .nav-link:visited,
.navbarHeader .nav-link.active,
.navbarHeader .nav-link:focus,
.navbarHeader .nav-link:hover {
    color: rgba(111,123,141);
}

.navbarHeader .nav-link:hover,
.navbarHeader .nav-link:focus {
    text-decoration: underline;
}

.borderBoxItems {
    background: rgb(25, 21, 29);
    border-radius: 20px;
}